@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:"Open Sans", sans-serif;
}
.box-default{
    background-color: aqua;
    width:30%;
    height:100%;
    padding:50px;
    margin:0 auto;
}